# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RailwayExample.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\RailwayExample\.idea\.idea.RailwayExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
